.card {
  height: 232px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.price {
  color: #2196F3;
  font-size: 25px;
  font-weight: 600;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
}

.cardBody {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: space-between;
}

.cardRow {
  display: flex;
}

.cardCeil {
  display: flex;
  flex-direction: column;
}

.cardCeil:nth-child(n+2) {
  margin-left: 70px
}

.ceilHeader {
  color: #A0B0B9;
}

.test-enter {
  opacity: 0;
}

.test-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.test-exit {
  opacity: 1;
}

.test-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}