.card {
  height: 225px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.price {
  color: #2196F3;
  font-size: 25px;
  font-weight: 600;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
}

.cardBody {}